<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load static %}
{% load pwa %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/lotus.png' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "/css/myStyle.css" %}"/>
    <title>{{ page_title }}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% progressive_web_app_meta %}
    {% block head %}
    {% endblock %}
</head>
<body class="body">
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'questionnaire:landing_page' %}">Zyklus-App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                {% if user.is_authenticated and not user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'member:password' %}">Passwort
                            ändern</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'service:subscribe' %}">Erinnerung</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'member:logout_user' %}">Logout</a>
                    </li>
                {% endif %}
                {% if user.is_superuser or user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'member:create_member' %}">Benutzer anlegen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'questionnaire:create_pair' %}" tabindex="-1">Paar
                            anlegen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'questionnaire:download_all_data' %}"
                           tabindex="-1">Download csv</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'member:logout_user' %}">Logout</a>
                    </li>
                {% endif %}
                </ul>

            </div>
        </div>
    </nav>
{% endblock %}
{% bootstrap_messages %}
{% block content %}

    {# content here #}
{% endblock %}

{% block footer %}
    {# z.B. Footer #}
{% endblock %}
</body>
</html>