{% extends 'base.html' %}
{% load django_bootstrap5 %}

{# Fills Block content #}
{% block content %}
    <div class="text-center">
        <h1>Passwort ändern</h1>
    </div>
    <div class="border position-relative m-4 p-5 form-floating">
        <div class="mx-auto">
            <form method="post" class="form">
                {% bootstrap_form form %}
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Speichern">
            </form>
        </div>
    </div>
{% endblock %}