{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{%  block content %}

    <div class="wrapper">
        <div class="logo">
            <img src="{% static "/images/lotus.png" %}" alt="">
        </div>
        <div class="text-center mt-4 name">Login</div>
        <form class="p-3 mt-5 login-form" method="post">
            {% csrf_token %}
            <div class="form-field d-flex justify-content-center">
                <span class="fas fa-user"></span>
                <input type="text" name="username" id="userName" placeholder="Username">
            </div>
            <div class="form-field d-flex justify-content-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" value="submit" class="btn btn-primary mt-2">Anmelden</button>
            </div>
        </form>
    </div>
{% endblock %}