{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load webpush_notifications %}

{% block head %}
    {% webpush_header %}
{% endblock %}

{# Fills Block content #}
{% block content %}
    <div class="text-center questionnaire-header">
        <h1>Erinnerungen</h1>
        <div class="border position-relative m-4 p-5 form-floating">
            <blockquote class="blockquote">
                <p>
                    Hier können Sie sich für die automatische Erinnerung morgens und abends eintragen.
                    Sie werden täglich um 07:00 und um 20:00 Uhr via Push-Benachrichtigung informiert
                </p>
            </blockquote>
            {% webpush_button with_class="btn btn-primary btn-sm mt-3" %}
        </div>
    </div>


{% endblock %}