{% extends 'base.html' %}
{% load django_bootstrap5 %}

{# Fills Block content #}
{% block content %}
    <div class="text-center questionnaire-header">
        <h1>Herzlich willkommen im Admin Interface</h1>
    </div>
    <div class="border position-relative m-4 p-5 form-floating">
        <h3>Benutzerliste</h3>
        <table class="table table-dark table-striped">
            <thead class="table table-dark">
            <tr>
                <th scope="col">User-Code</th>
                <th scope="col">Pair-Code</th>
                <th scope="col">Anzeigen</th>
            </tr>
            </thead>

            {% for member in members %}
                {# only shows user who are not admin or Staff #}
                {% if not member.is_superuser and not member.is_staff %}
                    <tr>
                        <td>{{ member.user_code }}</td>
                        <td>{{ member.pair }}</td>
                        <td><a href="{{ '../member/member_detail/' }} {{ member.id }}"
                               class="btn btn-primary btn-sm align-middle">Anzeigen</a></td>
                    </tr>
                {% endif %}
            {% endfor %}

        </table>
        <a class="btn btn-primary btn-lg" href="{% url 'member:create_member' %}" role="button">Neuer Benutzer</a>
    </div>
    <div class="border position-relative m-4 p-5 form-floating">
    <h3>Paarliste</h3>
        <table class="table table-dark table-striped">
            <thead class="table table-dark">
            <tr>
                <th scope="col">Pair-Code</th>
                <th scope="col">Anzeigen</th>
            </tr>
            </thead>

            {% for pair in pairs %}
                <tr>
                    <td>{{ pair.ident }}</td>
                    <td><a href="{{ 'pair_detail/' }} {{ pair.id }}" class="btn btn-primary btn-sm align-middle">Anzeigen</a>
                    </td>
                </tr>
            {% endfor %}

        </table>
        <a class="btn btn-primary btn-lg" href="{% url 'questionnaire:create_pair' %}" role="button">Neues Paar</a>
    </div>

{% endblock %}