{% extends 'base.html' %}
{% load django_bootstrap5 %}

{# Fills Block content #}
{% block content %}
    <div class="text-center questionnaire-header">
        <div class="border position-relative m-4 p-5 form-floating text-center">
            <p>Möchtest du <b>"{{ object }}"</b> wirklich löschen?</p>
        <form method="post" class="form">
            {% bootstrap_form form %}
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Löschen">
        </form>
        </div>
    </div>
{% endblock %}