{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
    <div class="border position-relative m-4 p-5 form-floating">
        <table class="table table-dark table-striped">
            <thead class="table table-dark">
            <tr>
                <th scope="col">User-Code</th>
                <th scope="col">Pair-Code</th>
                <th scope="col">Anzeigen</th>
                <th scope="col">Editieren</th>
                <th scope="col">Löschen</th>
            </tr>
            </thead>

            {% for member in object_list %}
                {# only shows user who are not admin or Staff #}
                {% if not member.is_superuser and not member.is_staff %}
                    <tr>
                        <td>{{ member.user_code }}</td>
                        <td>{{ member.pair }}</td>
                        <td><a href="{{ 'member_detail/' }} {{ member.id }}"
                               class="btn btn-primary btn-sm align-middle">Anzeigen</a></td>
                        <td><a href="{{ 'update_member/' }} {{ member.id }}"
                               class="btn btn-primary btn-sm align-middle">Editieren</a></td>
                        <td><a href="{{ 'delete_member/' }} {{ member.id }}" class="btn btn-danger btn-sm align-middle">Löschen</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

        </table>
        <a class="btn btn-primary btn-lg" href="{% url 'member:create_member' %}" role="button">Neuer Benutzer</a>
    </div>
{% endblock %}