{% extends 'base.html' %}
{% load django_bootstrap5 %}

{# Fills Block content #}
{% block content %}
    <div class="text-center questionnaire-header">
    </div>
    <div>
        <div class="border position-relative m-4 p-5 form-floating text-center">
            <h1>{{ pseudo_user }}</h1>

            <p>Pair: <b>{{ object.pair }}</b></p>


            <p>Superuser: {% if object.is_superuser %}
                <b>Ja</b>
            {% else %}
                <b>Nein</b>
            {% endif %}
            </p>
            <p>Daily Fragebögen: <b>{{ dq }}</b></p>
        {% if start_questionnaire %}
            <p>Erster Fragebogen: <b>{{ start_questionnaire.0.date }}</b></p>
        {% else %}
            <p>Erster Fragebogen: <b>Nicht ausgefüllt</b></p>
        {% endif %}
            {% if end_questionnaire %}
                <p>Letzter Fragebogen: <b>{{ end_questionnaire.0.date }}</b></p>
            {% else %}
                <p>Letzter Fragebogen: <b>Nicht ausgefüllt</b></p>
            {% endif %}


            <a class="btn btn-primary btn-lg mt-1" href="{% url 'questionnaire:landing_page' %}" role="button">Zurück</a>
            <a class="btn btn-primary btn-lg mt-1" href="{% url 'member:update_member' pseudo_user.id %}" role="button">Editieren</a>
            <a class="btn btn-primary btn-danger btn-lg mt-1" href="{% url 'member:delete_member' pseudo_user.id %}" role="button">löschen</a>
        </div>
    </div>

{% endblock %}