{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block head %}
    <script language="javascript" type="text/javascript" src="{% static "/js/prevent_back.js" %}"></script>
{% endblock %}
{# Fills Block content #}
{% block content %}
    <div class="text-center questionnaire-header">
        <h1>Täglicher Fragebogen</h1>
    </div>

    <form method="post" class="form">
        {% csrf_token %}
        <div class="border position-relative m-4 p-5 form-floating">
            <div class="mx-auto">

                <label for="id_question_one" class="mt-2">felt satisfied with my relationship with my partner</label>
                <input type="range" class="form-range mt-1 mb-0" min="0" max="7" id="id_question_one"
                       name="question_one">
                <p id="sliderHelp" class="form-text">0 absolutely felt satisfied to I absolutely not felt satisfied 7</p>

                <label for="{{ form.question_two.auto_id }}" class="mt-2">I felt positive feelings toward my
                    partner</label>
                <select class="form-select form-select-m mb-3" aria-label=".form-select-m example"
                        id="{{ form.question_two.auto_id }}" name="{{ form.question_two.name }}">
                    <option value="0">Zero</option>
                    <option value="1">1: wenig</option>
                    <option value="2">2: wenig mehr</option>
                    <option value="3">Three</option>
                    <option value="4">Four</option>
                    <option value="5">Five</option>
                    <option value="6">Six</option>
                    <option value="7">Seven</option>
                </select>

                <label for="id_question_one" class="mt-2">I felt negative feelings toward my partner</label>
                {% bootstrap_field form.question_three show_label=False %}
                <label for="id_question_one" class="mt-2">I felt close to my partner</label>
                {% bootstrap_field form.question_four show_label=False %}
                <label for="id_question_one" class="mt-2">I felt very grateful to my partner</label>
                {% bootstrap_field form.question_five show_label=False %}
                <label for="id_question_one" class="mt-2">I felt my partner was very trustworthy</label>
                {% bootstrap_field form.question_six show_label=False %}
                <input class="btn btn-primary" type="submit" value="Speichern">
            </div>
        </div>
    </form>
{% endblock %}