{% extends 'base.html' %}
{% load django_bootstrap5 %}

{# Fills Block content #}
{% block content %}

    <div class="text-center questionnaire-header">
        <h1>Fragen für den einführenden Fragebogen</h1>
    </div>
    <div class="border position-relative m-4 p-5 form-floating">

        <table class="table table-striped">
            <thead class="table">
            <tr>
                <th scope="col">Fragen</th>
            </tr>
            </thead>

            {% for question in questions %}
                <tr>
                    <td><a class="link-dark" href="{% url 'questionnaire:question_update' pk=question.id %}">{{ question }}</a></td>
                </tr>
            {% endfor %}

        </table>
        <a class="btn btn-primary btn-lg" href="{% url 'questionnaire:create_question' which_catalogue=question_catalogue %}" role="button">Neue Frage</a>
        <a class="btn btn-primary btn-lg" href="{% url 'questionnaire:landing_page' %}" role="button">Zurück</a>
    </div>

{% endblock %}