{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block head %}
    <script type="text/javascript" src="{% static "/js/prevent_back.js" %}"></script>
{% endblock %}
{# Fills Block content #}
{% block content %}
    <div class="text-center questionnaire-header">
        <h1>Abschließender Fragebogen</h1>
    </div>

    <form method="post" class="form">
        {% bootstrap_form form %}
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Speichern">
    </form>
{% endblock %}